#components-layout-demo-top-side-2 {
  width: 120px;
  height: 20px;
  color: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.navbar-dark {
  background-color: #e37a09;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  color: #130ba3;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.header {
  background-color: #2a1a5e;
}
.menu {
  background-color: #2a1a5e;
}

.site-layout-background1 {
  background: #e37a09;
}

.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 480px;
  line-height: 50px;
  background: #e37a09;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #d96207;
}

.footer {
  background-color: #e37a09;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.content1 {
  background-color: #fbe555;
}

.content2 {
  background-color: #e37a09;
}
.content3 {
  background-color: #fb9224;
}
.content4 {
  background-color: #fbe555;
}
/*2a1a5e*/

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

[data-theme="compact"] .site-navigation-steps,
.site-navigation-steps {
  margin-bottom: 60px;
  box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}