#components-layout-demo-top-side-2 {
  width: 120px;
  height: 20px;
  color: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.navbar-dark {
  background-color: #e37a09;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  color:#130ba3;
}
address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.header {
  background-color: #2a1a5e;
}
.menu {
  background-color: #2a1a5e;
}

.site-layout-background1 {
  background: #e37a09;
}

.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 480px;
  line-height: 50px;
  background: #e37a09;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #d96207;
}

.footer {
  background-color: #e37a09;
 
 
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.content1 {
  background-color: #fbe555;
}

.content2 {
  background-color: #e37a09;
 
}
.content3 {
  background-color: #fb9224;
}
.content4 {
  background-color: #fbe555;
}
/*2a1a5e*/

